body {
  font-family: "Roboto Mono", monospace;
  font-weight: regular;
}
.custom-block {
  max-width: 70%;
}
.about-us {
  text-align: right;
  padding-right: 120px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.blockquote-custom-icon {
  background-color: #6048f0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.body {
  background-image: url("");
}
.titulo-card {
  text-align: center;
}

.servicios {
  color: #6048f0;
}

.about-us {
  color: #6048f0;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.titulo-card {
  font-family: "Roboto Mono", monospace;
  font-weight: regular;
}
.catch {
  font-family: "Roboto Mono", monospace;
  font-weight: regular;
  text-align: center;
  padding-left: 20px;
}
