.brokencamera {
  padding-top: 50px;
  padding-left: 40px;
  height: 350px;
}
#fondo {
  background-color: #9f94df;
}

.text {
  margin-top: 80px;
  margin-right: 40px;
  text-align: center;
}

.errornum {
  font-size: 100px;
}
