// Specific CSS for your home-page
body {
  font-family: Roboto;
}
.card {
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card-violeta {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.icono-camara {
  padding-top: 15px;
  margin-bottom: 20px;
}
.center-mirror {
  display: block;
  margin-left: 140px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
}
.center-photos {
  padding-top: 15px;
}

h6 {
  text-align: center;
  margin-left: 20px;
  padding-bottom: 40px;
}

h4 {
  text-align: center;
}

#img-mirror {
  text-align: center;
}
#text-mirror {
  padding-bottom: 54px;
}
