
<h1 class="about-us"> Acerca de nosotros</h1>

<div class="">
    <div class="d-flex justify-content-center">
      <div class="d-flex col-lg-6 mx-auto justify-content-center align-items-center flex-column">
        <img class="takingpicture" src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644261888/photo_about_us_qajfor.jpg" style="width:500px;" alt="Chica con camara">
        <h4 class="titulo-card"></i>Click!</h4>
      </div>

  <div class="contenedor-maestro">
    <div class="col-lg-6 mx-auto custom-block">
        <!-- CUSTOM BLOCKQUOTE -->
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
        <div class="blockquote-custom-icon ">
          <i class="text-left fa fa-quote-left text-white"><p class="catch"> Capturamos tus recuerdos!!</p></i>
        </div>
        <div class="container-fondo">
                <p class="texto-team mb-0 mt-2 ">
                  Puedes transmitir tus sentimientos haciendo un fotolibro.<br>Incluso si no puedes decirlo directamente,un álbum de fotos puede
                  transmitir tus sentimientos de forma natural.<br>Amenicemos el evento con un regalo diferente a lo habitual."</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                    <cite title="Source Title">Equipo Instapix</cite>
                    </footer>
            </blockquote><!-- END -->
                </div>
              </div>
  </div>


</div>

 <!-- BOOTSTROPIUSSSSSSSSS -->


    </section>
    <section class="py-5">
      <div class="container py-5">
        <div class="row gy-4">
          <div class="col-lg-5">
            <div class="pt-1 ">
              <img class="img-fluid" src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643994770/imgrc0068685061_dxaebo.jpg"  alt="ejemplo de photo-album" />
            </div>
          </div>
          <div class="col-lg-6">

            <h2 class=" mb-4">
              Trabajamos con tus fotos para darte lo mejor
            </h2>
            <p>
              Diseño muy elaborado.
              ¡Cualquiera puede obtener un acabado de moda, como en
              una revista con enviarnos sus fotos!
            </p>
            <p>Comprometidos siempre:</p>
            <ul class="list-check list-unstyled row px-3 gy-2 mb-4">
              <li class="promesas col-lg-6.col-sm-4">
                Llevarte a  mirar hacia atrás en tus recuerdos.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                Superar tus espectativas.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                Sonreir al ver a tus seres queridos.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                 Material durable y resistente.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                Buena calidad de impresion.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                Eficiencia en la entrega.
              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>

    <section class="py-5 bg-light">
      <div class="container py-5">
        <header class="mb-5 text-center">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <p>
                Confiable &amp; Eficiente
              </p>
              <h2>Buscamos llevarte tus preciosos momentos en el mejor formato</h2>
              <p>
                Calidad de imagen insuperable permite a tus  fotos
                expresarce de forma natural.

              </p>
            </div>
          </div>
        </header>
        <div class="row align-items-stretch gy-4">
          <div class="col-lg-4">
            <div class="bg-white h-100">
              <div class="bg-primary px-4 py-3 d-inline-block">

                <svg class="svg-icon text-white">
                  <use xlink:href="#arrow-target-1"></use>
                </svg>
              </div>
              <div class="px-5 pt-0 pb-5 bg-white text-center shadow rounded">
                <h2 class="h4 mb-3">Our mission</h2>
                <p class="text-sm mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Repudiandae, nobis aliquid iusto quibusdam, neque obcaecati
                  delectus. Aliquid veritatis, quo, dignissimos quam magni
                  debitis, minima blanditiis pariatur quae molestiae cumque
                  amet?
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bg-white h-100">
              <div class="bg-primary px-4 py-3 d-inline-block">
                <svg class="svg-icon text-white">
                  <use xlink:href="#stack-1"></use>
                </svg>
              </div>
              <div class="px-5 pt-0 pb-5 bg-white text-center shadow rounded">
                <h2 class="h4 mb-3">Our vision</h2>
                <p class=" text-sm mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Repudiandae, nobis aliquid iusto quibusdam, neque obcaecati
                  delectus. Aliquid veritatis, quo, dignissimos quam magni
                  debitis, minima blanditiis pariatur quae molestiae cumque
                  amet?
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bg-white h-100">
              <div class="bg-primary px-4 py-3 d-inline-block">
                <svg class="svg-icon text-white">
                  <use xlink:href="#sales-up-1"></use>
                </svg>
              </div>
              <div class="px-5 pt-0 pb-5 bg-white text-center shadow rounded">
                <h2 class="h4 mb-3">Our strategies</h2>
                <p class="text-sm mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Repudiandae, nobis aliquid iusto quibusdam, neque obcaecati
                  delectus. Aliquid veritatis, quo, dignissimos quam magni
                  debitis, minima blanditiis pariatur quae molestiae cumque
                  amet?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
