
<h1 class="about-us"> Acerca de nosotros</h1>

<div class="">
    <div class="d-flex justify-content-center">
      <div class="d-flex col-lg-6 mx-auto justify-content-center align-items-center flex-column">
        <img class="takingpicture" src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644261888/photo_about_us_qajfor.jpg" style="width:500px;" alt="Chica con camara">
        <h4 class="titulo-card"></i>Click!</h4>
      </div>

  <div class="contenedor-maestro">
    <div class="col-lg-6 mx-auto custom-block">
        <!-- CUSTOM BLOCKQUOTE -->
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
        <div class="blockquote-custom-icon ">
          <i class="text-left fa fa-quote-left text-white"><p class="catch"> Capturamos tus recuerdos!!</p></i>
        </div>
        <div class="container-fondo">
                <p class="texto-team mb-0 mt-2 ">
                  Puedes transmitir tus sentimientos haciendo un fotolibro.<br>Incluso si no puedes decirlo directamente,un álbum de fotos puede
                  transmitir tus sentimientos de forma natural.<br>Amenicemos el evento con un regalo diferente a lo habitual."</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                    <cite title="Source Title">Equipo Instapix</cite>
                    </footer>
            </blockquote><!-- END -->
                </div>
              </div>
  </div>


</div>

 <!-- comienzo de segunda parte-->


    </section>
    <section class="py-5">
      <div class="container py-5">
        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="pt-1 ">
              <img class="img-fluid" src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643994770/imgrc0068685061_dxaebo.jpg"  alt="ejemplo de photo-album" />
            </div>
          </div>
          <div class="col-lg-6">

            <h2 class=" mb-4">
              Trabajamos con tus fotos para darte lo mejor
            </h2>
            <p>
              Diseño muy elaborado.
              ¡Cualquiera puede obtener un acabado de moda, como en
              una revista con enviarnos sus fotos!
            </p>
            <p>Comprometidos siempre:</p>
            <ul class="list-check list-unstyled row px-3 gy-2 mb-4">
              <li class="promesas col-lg-6.col-sm-4">
                Llevarte a  mirar hacia atrás en tus recuerdos.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                Superar tus espectativas.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                Sonreir al ver a tus seres queridos.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                 Material durable y resistente.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                Buena calidad de impresion.
              </li>
              <li class="promesas col-lg-6.col-sm-4">
                Eficiencia en la entrega.
              </li>
            </ul>
              <div class="loveInsta pt-5">
              <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644356189/casa_de_envio_eqgxx9.png" alt="casita">
              <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644355899/flecha_e6xh0i.png" alt="flecha">
              <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644355899/camioncito_nfgil4.png" alt="carrito">
              <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644355899/flecha_e6xh0i.png" alt="flecha">
              <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644356373/dise%C3%B1o_instabook_t0474l.png" alt="cliente">
          </div>

          </div>
          <!-- Imagenes Png chicas -->
          <div class="masterpng d-flex flex-wrap bd-highlight">
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644337367/muestrario_mate_gxn6gj.jpg" width = 120px alt="1"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643994750/a019ec5e-81b5-4a6a-9d9d-a180fb36d23e_pxajfc.jpg" width = 120px alt="2"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643994788/open_photo_book_qrxur9.jpg" width = 120px alt="3"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644337373/muestrario_couche_oyfich.jpg" width = 120px alt="4"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644337372/watching_Instabook_lljk4v.jpg" width = 120px alt="5"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644337999/working_on_laptop_aw2fgu.jpg" width = 120px alt="6"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644337368/muestrario_rugoso_rzqvap.jpg" width = 120px alt="7"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644337364/good_paper_asyqqj.jpg" width = 120px alt="8"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644337362/photo_top_instabook_qlj3hk.jpg" width = 120px alt="9"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644338576/coverimg_05_icyxfq.jpg" width = 120px alt="10"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643994784/photo_album_en_escritorio_krrwwu.jpg" width = 120px alt="11"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644339388/rirri-z4KhbVhPP7s-unsplash_1_qnmz2v.jpg" width = 120px alt="13"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644339072/joanna-kosinska-spAkZnUleVw-unsplash_upigxb.jpg" width = 120px alt="14"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644339400/josh-hild-JYQkVLOPy8U-unsplash_r0t3bw.jpg" width = 120px alt="15"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643994797/photo_album_y_celular_h2c6gh.jpg" width = 120px alt="16"></div>
            <div class="pngimages p-2 bd-highlight"><img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643994798/photo_album_con_fotos_vvumq9.jpg" width = 120px alt="17"></div>
          </div>

        </div>
      </div>
    </section>

    <section class="py-5 bg-light">
      <div class="container py-5">
        <header class="mb-5 text-center">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <p>
                Confiable &amp; Eficiente
              </p>
              <h2>Buscamos llevarte tus preciosos momentos en el mejor formato</h2>
              <p>
                Calidad de imagen insuperable permite a tus  fotos
                expresarce de forma natural.

              </p>
            </div>
          </div>
        </header>
        <div class="row align-items-stretch gy-4">
          <div class="col-lg-4">
            <div class="bg-white shadow rounded" style = "height:700px;">
              <div class="d-inline-block">
              <div id="misionpng">
              <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644334127/The_Little_Things_-_Working_sj00dx.png" style = "height:350px;"   alt="">
              </div>

              </div>
              <div class="px-5 pt-3 pb-5  text-center ">
                <h2 class="h4 mb-3">Nuesta misión</h2>
                <p class="text-sm mb-0">
                  Instapix es un libro de fotos desarrollado por diseñadores para convertir el "registro" y la "memoria" en un solo "Instabook".<br>
                  El objetivo es "un libro que nos cuentan las fotografías" <br>

                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bg-white shadow rounded" style = "height:700px;">
              <div class="d-inline-block">
                <div id="misionpng">
                  <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644334127/Hands_-_Show_cxmw5o.png" style = "height:350px;"    alt="">
                </div>
              </div>
              <div class="px-5 pt-3 pb-5  text-center ">
                <h2 class="h4 mb-3">Nuesta visión</h2>
                <p class=" text-sm mb-0">
                  "Producir Instabooks con los mejores colores ,calidad de imagen
                  llevando alegria y sonrisas a cada cliente que pone sus recuerdos en nuestras manos"
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bg-white shadow rounded" style = "height:700px;">
              <div class="d-inline-block pt-3">
                <div id="misionpng">
                  <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644334126/Brazuca_-_Planning_ztlkz9.png" style = "height:320px;"  alt="">
                </div>
              </div>
              <div class="px-5 pt-3 pb-5  text-center ">
                <h2 class="h4 mb-3 pt-3">Nuestras estrategias</h2>
                <p class="text-sm mb-0">
                  Papel exigente seleccionado entre decenas de miles de tipos.
                  Calidad de imagen exigente.<br>
                  Prueba de durabilidad, prueba de paso de papel.<br>
                  Facil editado de tus productos en computadora.<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
