<h2>About us</h2>
<div class="">
    <div class="d-flex justify-content-center">
      <div class="d-flex col-lg-6 mx-auto justify-content-center align-items-center flex-column">
        <img class="takingpicture" src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644261888/photo_about_us_qajfor.jpg" style="width:500px;" alt="Chica con camara">
        <h2 >Tus recuerdos por siempre</h2>
      </div>

        <div class="">
                <div class="col-lg-6 mx-auto custom-block">
                  <!-- CUSTOM BLOCKQUOTE -->
                  <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white">
                      <p> Tus recuerdos por siempre</p></i>
                    </div>
                    <div class="container-fondo">
                      <p class="mb-0 mt-2 font-italic">
                        Puedes transmitir tus sentimientos haciendo un fotolibro con un mensaje junto con una
                        foto de los dos recuerdos.Incluso si no puedes decirlo directamente, un álbum de fotos puede
                        transmitir tus sentimientos de forma natural.Amenicemos el evento con un regalo diferente a lo habitual. <a href="#" class="text-info">Instapix</a>."</p>
                      <!--<footer class="blockquote-footer pt-4 mt-4 border-top">-->
                      <!--<cite title="Source Title"></cite>-->
                    <!--</footer>-->
                 </blockquote><!-- END -->
                </div>
              </div>
  </div>

</div>


<!--texto inferior-->
<div class="container-card">
  <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <header class="text-center pb-5">
              <h1 class="h2">Bootstrap custom quote</h1>
              <p>Nuestra Mision 4.<br>Beneficios de escogernos <a href="" class="font-italic text-info">Lorem Ipsum</a></p>
            </header>
          </div>
        </div>
          <!-- END -->
      </div>
  </section>
</div>
