

<body id="fondo">
  <div class="maestro d-flex justify-content-around pb-5">
    <div class="camera">
      <img class="brokencamera" src="https://res.cloudinary.com/deavmhgtx/image/upload/v1644427583/camerabroken_fewb7h.png" alt="">
    </div>
    <div class="text">
        <h1 class= "errornum"> 404</h1>
        <h2>Page Not Found</h2>
    </div>
  </div>
</body>
