<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497030947858-3f40f1508e84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container text-center">
    <h1>Tus recuerdos al instante <strong></strong></h1>
    <p>Instapixit la forma más fácil de imprimir tus fotos</p>
    <a class="btn btn-flat" href="#">Comenzar</a>
  </div>
</div>

<div class="cards-container mb-5">

  <div>
    <h2 class="my-5 pl-5">Elije tu producto</h2>
    <div class="cards px-5">

    </div>
  </div>
