  <div class="container">
    <button id="instagram-btn" class="btn btn-flat">Mandar fotos</button>
    <% if current_user && current_user.instagram_auth_code %>
      <div class="photos mt-5">
        <% @pages.each do |page| %>
          <% page.payload.data.each do |post| %>
            <div class="photo-container">
              <img src="<%= post["media_url"] %>" class="photo" alt="">
                <i class="fas fa-solid fa-check check-btn"></i>
              <%= link_to "#", method: :patch do %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


<script>
  photos = [];
  const checks = document.querySelectorAll(".check-btn");
  const btn = document.querySelector("#instagram-btn");
  checks.forEach( check => {
    check.addEventListener('click', () => {
      check.classList.toggle("green")
      const photo = check.parentElement.querySelector('.photo')
      photo.classList.toggle("selected")
      // photos.includes(photo.src) ? photos.filter(src => src !== photo.src) : photos.push(photo.src)
      // console.log(photos)
  })});
  btn.addEventListener('click', () => {
    document.querySelectorAll(".photo.selected").forEach(photo =>  {
      photos.push(photo.src)
    })
    console.log(photos)
  })
</script>
