.order_shipping_address {
  width: 100%;
  margin-bottom: 0;
}

.cart-photo {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
