.photo {
  max-width: 250px;
  border: 3px solid white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;

  &.selected {
    border: 5px solid #6048F0;
  }
}

.photo-container {
  max-width: 250px;
  position: relative;
}

.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  border: 2px dashed rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.delete-photo-btn {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  background-color: #353839;
  padding: 6px;
  border-radius: 50%;
  opacity: 0.8;

  &:hover {
   opacity: 1;
   background-color: white;
   color: #353839;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

}

.cover-photo-tag {
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
  background-color: #6048F0;
  padding: 6px;
  border-radius: 4px;
  opacity: 0.9;

}

.cover-photo {
  max-width: 500px;
  width: 80%;
  border: 3px solid white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}





@media (max-width: 1200px) {
  .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
}
@media (max-width: 992px) {
  .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}

@media (max-width: 768px) {
  .photos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
  }
}

// INSTAGRAM UPLOAD

.check-btn {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  background-color: #353839;
  padding: 6px;
  border-radius: 50%;
  opacity: 0.8;

  &:hover {
   opacity: 1;
   background-color: white;
   color: #353839;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  &.green {
    background-color: #6048F0;
  }

}
