.img-upload {
    opacity: 0;
}

.upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    margin-left: 150px;
    transform: translateY(-50%);
}

.upload-cover-label {
  position: absolute;
  top: 50%;
  left: 1.7rem;
  margin-left: 150px;
  transform: translateY(-50%);
}


//

.input-group {

}

.photo_editor .form-group {
  margin-bottom: 0;
  width: 65%;
  padding-top: 5px;
}

.photo_editor .form-control-file {
  display: none;
}
